.Footer {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 350px;
    background-image: url('../../waveBottom.svg');
}

.BottomGrid {
    width: inherit;
    height: inherit;
    padding-top: 100px;
}
