.navBar {
    background-image: url('../../waveTop.svg');
}
.button {
    padding: 5px;
    height: 3.5em;
}
.ButtonGroup {
    padding: 1em;
}
.MuiButton-label {
    margin: 5px;
    width: 100%;
    color: #F1F2F3;
    min-width: 100px;
    font-size: 1.1em;
    display: inherit;
    font-weight: bolder;
    align-items: inherit;
    justify-content: inherit;
}
